
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style  */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 14px;
    color: #474747;
}
.secondary-bg{
    background-color: #fff8f3;
}

.text-center{
    text-align: center;
}
/* header */
.header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: contain;
}
/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 120px;
}
.nav-title{
    font-weight:800px ;
    font-size: 40px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner  styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 80px 0 100px;
    align-items: center;
}
.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 30px;
    font-weight: 400;
}

.banner-tittle{
    font-weight: bold;
    font-size: 50px;
}
.banner-description{
    color: #474747;
}
.banner-profile-picture{
    width: 420px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-bottom: 120px;
}
/* about */

.about{
    border-radius: 10px;
    padding: 110px 130px;
    text-align: center;
    margin-top: 110px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills styles */

.skills-container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px rgb(171, 140, 140);
}

/* resume section */

.resume-container{
    display: flex;
    gap: 20px;
}
.experience-sub-title{
    font-size: 14px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;

}
.experience-description{
    color: #757575;
}
.section-title-resume{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #181818;
}
.resume-download-cv{
    margin-top: 50px;
}